
.app__header-h1 {
    color: red;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img {
    width: 80%
}

.custom__button {
    background-color: red;
    color: white;
}