@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

nav {
    background: white;
    border-bottom: solid rgb(201, 199, 199) 1px;

}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #CD142A,
        0 0 10px #CD142A;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #CD142A;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    background-color: white;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
    color: black;
}

nav ul ul li a:hover {
    color: #CD142A;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

.show,
.icon,
input {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

.logo {
    height: 4rem;
}

.logo img {
    width: 10rem;
    height: 4rem;
}

.active {
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #CD142A,
        0 0 10px #CD142A;
}

@media all and (max-width: 1310px) {
    nav ul li a {
        font-size: 16px;

    }
}

@media all and (max-width: 1220px) {
    nav ul li a {
        font-size: 14px;

    }
}

@media all and (max-width: 1130px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        padding-left: 20px;
        width: 100%;
    }

    .show+a,
    ul {
        display: none;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul li a:hover {
        box-shadow: none;
        color: #CD142A;
    }

    .show {
        display: block;
        color: black;
        font-size: 18px;
        padding: 0 15px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: #CD142A;
    }

    .icon {
        display: block;
        color: black;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;

    }

    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul ul a {
        padding-left: 80px;
    }

    nav ul ul ul li {
        position: static;
    }

    [id^=btn]:checked+ul {
        display: block !important;

    }

    [id^=btn]:checked+ul li a {
        font-size: 18px !important;
    }

    nav ul ul li {
        border-bottom: 0px;
    }

    span.cancel:before {
        content: '\f00d';
    }

}